* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: Poppins;
}

.wrapper {
    margin: 1em;
}

.header__h2 {
    margin-bottom: 38px;
    font-family: PT Serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -0.045em;
}

.header__h4 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.header__paragraph {
    font-size: 14px;
    margin-bottom: 42px;
}

.gallery__img {
    max-width: 100%;

}

.gallery__item {
    position: relative;
    margin-bottom: 20px;
}

.gallery__bottom-caption {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    bottom: -1.2em;
    left: 0;

}

.gallery__right-caption {
    position: absolute;
    font-size: 10px;
    text-transform: uppercase;
    writing-mode: vertical-lr;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    font-weight: 600;
    font-size: 14px;
    color: #A9A9A9;
    font-family: Montserrat;
}